---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nfsd
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: nfsd
    spec:
      volumes:
        - name: share-volume
          hostPath:
            path: /var/lib/share
        - name: share-config
          hostPath:
            path: /etc/nfs-exports
      containers:
        - name: nfsd
          image: "{{ nfsd_image }}:{{ nfsd_version }}"
          securityContext:
            privileged: true
          ports:
            - containerPort: 2049
          volumeMounts:
            - mountPath: /exports/share
              name: share-volume
            - mountPath: /etc/exports
              name: share-config
