---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: foreman
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: foreman
    spec:
      containers:
        - name: foreman
          image: "{{ foreman_image }}:{{ foreman_version }}"
          ports:
            - containerPort: 3000
