apiVersion: v1
clusters:
- cluster:
    server: http://{{ ansible_default_ipv4.address }}:8080
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: ""
  name: default-system
current-context: default-system
kind: Config
preferences: {}
users: []
