KUBELET_ADDRESS="--address={{ ansible_default_ipv4.address }}"
KUBELET_HOSTNAME="--hostname_override={{ ansible_default_ipv4.address }}"
KUBELET_API_SERVER="--api_servers=http://{{ ansible_default_ipv4.address }}:8080"
KUBELET_ARGS="--allow-privileged"
