---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: manageiq
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: manageiq
    spec:
      containers:
        - name: manageiq
          image: "{{ manageiq_image }}:{{ manageiq_version }}"
          ports:
            - name: http
              protocol: TCP
              containerPort: 80
            - name: https
              protocol: TCP
              containerPort: 443
