---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: freeipa
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: freeipa
    spec:
      containers:
        - name: freeipa
          image: "{{ freeipa_image }}:{{ freeipa_version }}"
          ports:
            - name: dns-xfer
              protocol: TCP
              containerPort: 53
            - name: dns-lookup
              protocol: UDP
              containerPort: 53
            - name: http
              protocol: TCP
              containerPort: 80
            - name: kerberos
              protocol: UDP
              containerPort: 88
            - name: ntp
              protocol: UDP
              containerPort: 123
            - name: ldap
              protocol: TCP
              containerPort: 389
            - name: https
              protocol: TCP
              containerPort: 443
            - name: kpasswd
              protocol: UDP
              containerPort: 464
            - name: ldaps
              protocol: TCP
              containerPort: 636
            - name: replication
              protocol: TCP
              containerPort: 7389
            - name: dogtag-agents
              protocol: TCP
              containerPort: 9443
            - name: dogtag-users
              protocol: TCP
              containerPort: 9444
            - name: dogtag-admins
              protocol: TCP
              containerPort: 9445
